<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZLiCyljG8ArIwCRK98wECo-x4F4SaMGg</string>
	<key>GCM_SENDER_ID</key>
	<string>762418886615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JenniferZhao.Queuify</string>
	<key>PROJECT_ID</key>
	<string>queuify-122ca</string>
	<key>STORAGE_BUCKET</key>
	<string>queuify-122ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762418886615:ios:a41e53f042da11672abd92</string>
	<key>DATABASE_URL</key>
	<string>https://queuify-122ca-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>